/* Variables */
 
// colors
$color-orange: #fc5e2f;
$color-purple: #28145e;
$color-purple-medium: #7672d3;
$color-purple-lighter: #9ba7f6;
$color-blue: #467dfc;
$color-grey: #5b5b5b;
 
// backgrounds
$bg-pink: #fdcddd;
$bg-scope: #f3f2ff;
 
// font families
$font-albert: 'FS-Albert-Family';
$font-joey: 'FSJoeyCyrillic';

